$def with (result)

<html>
<head>   
    
    <link href="../static/css/estilo6.css" media="screen" rel="StyleSheet" type="text/css">
    <title>Ver</title>
</head>

    <body class="body">
        <form name="main" method="post" class="form"> 
        $for row in result:
        
        <center>
            <h1 style="bold" aria-setsize="15px"><font size="15px" color= "white">$row.id_borrego</font></h1>
        </center>
        
              <center>
            
            <h1>


            </h1>
            <table CELLSPACING="10" WIDTH="400"  >
                <TH COLSPAN=2 BGCOLOR="#6D8FFF" > Agenda </TH>
                <tr>
                    <td > # Borrego  </td>
                <td>$row.id_borrego</td>
                </tr>
                <tr>
                    <td># Raza</td>
                <td>$row.id_raza</td>
                </tr>
                <tr>
                    <td># Genetica</td>
                <td>$row.id_genetica</td>
                </tr>

                <tr>
                    <td>Genero</font> </td>
                <td>$row.genero</font></td>
                </tr>

                <tr>
                    
                    <td> Edad <font> </td>
                    <td>$row.edad</font></td>
                        
                </tr>

                <tr>
                <td> Fecha Nacimiento <font> </td>
                <td>$row.fecha_nacimiento</font></td>
                </tr>

                <tr>
                <td> Precio <font></td>
                <td>$row.precio</font></td>
                </tr>


                
                
            </table>
      </center>
        
        </form>
</body>
</html>
